body {
    text-align: center;
    margin: 0;
  }

  .first-team li {
    display: inline-block;
    list-style-type: none;
    padding-left: 2em;
    margin: auto;
    
  }
 

  .image-grid {
    --gap: 16px;
    --num-cols: 4;
    --row-height: 300px;
  
    box-sizing: border-box;
    padding: var(--gap);
  
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
  }
  
  .image-grid > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .image-grid-col-2 {
    grid-column: span 2;
  }
  
  .image-grid-row-2 {
    grid-row: span 2;
  }
  .image-grid h1 {
    position: absolute;
    left: 0;
    right: 0;
    font-size: 50x;
    padding: 30%;
  }
  /* Anything udner 1024px */
  @media screen and (max-width: 1024px) {
    .image-grid {
      --num-cols: 2;
      --row-height: 200px;
    }

  }
  /* Navigation links */
  #menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}
