body {
    text-align: center;
    margin: 0;
    padding: 0%;
  }

#menu {
  font-size: 100%;
  letter-spacing: 2px;
}


h1, h2 {
  font-family: Lato,sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  color:#252525
}

#hero-image {
  height: 250px;
  margin: auto;
  padding-top: 10%;
  padding-left: 20%;
}


  .first-team li {
    display: inline-block;
    list-style-type: none;
    padding-right: 2em;
    margin: auto;
    
  }


  .image-grid {
    --gap: 16px;
    --num-cols: 4;
    --row-height: 300px;
  
    box-sizing: border-box;
    padding: var(--gap);
  
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
  }
  
  .image-grid > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .image-grid-col-2 {
    grid-column: span 2;
  }
  
  .image-grid-row-2 {
    grid-row: span 2;
  }
  .image-grid h1 {
    position: absolute;
    left: 0;
    right: 0;
    font-size: 50x;
    padding: 30%;
  }
  /* Anything udner 1024px */
  @media screen and (max-width: 1024px) {
    .image-grid {
      --num-cols: 2;
      --row-height: 200px;
    }

  }
  /* Navigation links */
  #menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

footer {
  height: 150px;
}

.social-networks {
  text-align: center;
}

.social-networks > li {
  display: inline;
}

.social-networks i {
  font-size: 160%;
  margin: 1%;
  padding: 5%;
  color: #3a3a3a;
}


