body {
    text-align: center;
    margin: 0;
    padding: 0%;
  }

#menu {
  font-size: 100%;
  letter-spacing: 2px;
}


h1, h2 {
  font-family: Lato,sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  color:#252525
}

#hero-image {
  height: 250px;
  margin: auto;
  padding-top: 10%;
  padding-left: 0.8%;
}


  .first-team li {
    display: inline-block;
    list-style-type: none;
    padding-right: 2em;
    margin: auto;
    
  }


  .image-grid {
    --gap: 16px;
    --num-cols: 4;
    --row-height: 300px;
  
    box-sizing: border-box;
    padding: var(--gap);
  
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
  }
  
  .image-grid > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .image-grid-col-2 {
    grid-column: span 2;
  }
  
  .image-grid-row-2 {
    grid-row: span 2;
  }
  .image-grid h1 {
    position: absolute;
    left: 0;
    right: 0;
    font-size: 50x;
    padding: 30%;
  }
  /* Anything under 1024px */
  @media screen and (max-width: 1024px) {
    .image-grid {
      --num-cols: 2;
      --row-height: 200px;
    }

  }
  /* Navigation links */
  #menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    letter-spacing: 2px;
    font-size: 100%;
    text-transform: uppercase;
    color: black;
}

.navbar {
  position: fixed;
}


footer {
  height: 150px;
}

.social-networks {
  text-align: center;
}

.social-networks a {
  height: 3.75em;
  width: 3.75em;
  border-radius: 50%;
  transition: all 0.25s ease;
  background-color: lightblue;
  display: inline-block;
  line-height: 3.75em;
  padding: 1.5625em 1.5625em 1.5625em;
}

.social-networks a:hover {
  color:grey;
  background-color: aqua;
}


.social-networks > li {
  display: inline;
}

.social-networks i {
  font-size: 160%;
  margin: 1%;
  padding: 5%;
  color: #3a3a3a;
}

.sg-form {
  width: 31.25em;
  border: 0.3125em solid black;
  padding: 1.25em;
  margin: 8% auto 0;
  text-align: center;
}

.input-box {
  border-radius: 1.25em;
  padding: 0.625em;
  margin: 0.625em 0;
  width: 80%;
  border: 0.0625 solid #999;
  outline: none;
}

.button-su {
  width: 85%;
  padding: 0.625em;
  border-radius: 1.25em;
  font-size: 0.9375em;
  margin: 0.625em 0;
  border: 0.0625 solid #999;
  outline: none;
  cursor: pointer;
}



